* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    // overflow: hidden;
}

.layout {
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-position: center;
    width: 1200px;
    height: 700px;
    position: relative;
}

.blackout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.game-box {
    position: absolute;
    top: 450px;
    left: 100px;
    display: flex;
    align-content: space-between;
}

.bird__outer {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.bird {
    background-image: url(/images/idle.png);
    background-color: rgba(165, 44, 44, 0.4);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 0 0;
    // min-width: 50px;
    // min-height: 40px;
    // min-width: 100px;
    // min-height: 80px;
    width: 100px;
    height: 150px;
    // transform: translate(50px, 0); 
    // width: 150px;
    // height: 200px;
    // margin-left: auto;

    // background-image: url(/images/run.png);
    // background-size: contain;

}

// .running-bird {
//     background-image: url(/images/run.png);
//     background-color: rgba(165, 44, 44, 0.4);
//     background-repeat: no-repeat;
//     background-size: contain;
//     background-position: center bottom;
//     min-width: 50px;
//     min-height: 40px;
//     width: 7vw;
//     height: 17vh; 
//     margin-left: auto;
//     visibility: hidden;
// }

.platform {
    width: 150px;
    height: 30px;
    background-image: linear-gradient(purple, black);
    transition: opacity 1s linear;
}

.groving-platform__outer {
    display: flex;
    flex-direction: column;
}

.groving-platform {
    width: 25px;
    // height: 70vh; /* changeable */
    background-color: rgba(138, 12, 177, 0.7);
    position: absolute;
    bottom: 29px;
    left: 125px; /* width platform - 25px */
    transform-origin: bottom right;
    // transform: rotate(90deg);
    transition: transform 0.5s linear, opacity 0.5s linear;
}

.new-platform {
    align-self: flex-end;
    margin-left: 40px; /* from 100 to 550 расстояние между платформами*/
    width: 100px; /* from 100 to 280 */
    height: 30px;
    background-image: linear-gradient(purple, black);
    transition: transform 1s linear;
}