* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(179, 179, 255);
}

.layout {
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-position: center;
    width: 1200px;
    height: 700px;
    position: relative;
    margin: auto;
}

.blackout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.game-box {
    position: absolute;
    top: 450px;
    left: 100px;
    display: flex;
    align-content: space-between;
}

.bird__outer {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.bird {
    background-image: url(./images/stand.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 0 0;
    width: 120px;
    height: 138.7px;
    z-index: 1;
}

.platform {
    width: 150px;
    height: 30px;
    background-image: linear-gradient(purple, black);
    transition: opacity 1s linear;
}

.groving-platform__outer {
    display: flex;
    flex-direction: column;
}

.groving-platform {
    width: 25px;
    // height: 70vh; /* changeable */
    background-color: rgba(138, 12, 177, 0.7);
    position: absolute;
    bottom: 29px;
    left: 125px; /* width platform - 25px */
    transform-origin: bottom right;
    transition: transform 0.5s linear, opacity 0.5s linear;
    z-index: 1;
}

.new-platform {
    align-self: flex-end;
    margin-left: 40px; /* from 100 to 550 расстояние между платформами*/
    width: 100px; /* from 100 to 280 */
    height: 30px;
    background-image: linear-gradient(purple, black);
    transition: transform 1s linear;
}

.lifes {
    position: absolute;
    top: 50px;
    left: 100px;
    background-image: url(./images/heart.png);
    width: 120px; // по 40px
    height: 35.5px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 0 0;
}

.text-score {
    position: absolute;
    top: 110px;
    left: 500px;
    text-align: center;
    width: 200px;
    font-size: 30px;
    color: rgb(182, 156, 12);
}

.score {
    position: absolute;
    top: 150px;
    left: 500px;
    text-align: center;
    width: 200px;
    font-family: 'Potta One', cursive;
    font-size: 32px;
    color: gold;
    text-shadow: 2px 2px 0 rgb(136, 105, 5),
    3px 3px 0 rgb(214, 183, 4);
}

.text-record {
    position: absolute;
    top: 50px;
    right: 100px;
    text-align: right;
    width: 100px;
    font-size: 30px;
    color: rgb(182, 156, 12);
}

.record {
    position: absolute;
    top: 90px;
    right: 100px;
    text-align: right;
    width: 100px;
    font-size: 30px;
    color: rgb(182, 156, 12);
}

.description {
    position: absolute;
    top: 130px;
    left: 100px;
    text-align: left;
    width: 300px;
    font-size: 20px;
    color: rgb(182, 156, 12);
}
